# Preprocesamiento

In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [43]:
data = pd.read_excel("data/datos.xlsx" )
data.drop('Patient nuber', axis=1, inplace=True)
data.columns=["age", "weight", "height", "BMI", "R-RI", "R-PI", "R-PSV", "L-RI", "L-PI", "L-PSV", "meanRI", "meanPI", "meanPSV", "bilateralNotch", "age_delivery", "parity", "birth_weight", "S-Flt1", "S-PLGF", "sFLT/PLGF", "class"]

## 1. Valores ausentes

In [44]:
data.isnull().sum()

age               0
weight            1
height            1
BMI               3
R-RI              0
R-PI              0
R-PSV             0
L-RI              0
L-PI              0
L-PSV             0
meanRI            0
meanPI            0
meanPSV           2
bilateralNotch    0
age_delivery      0
parity            0
birth_weight      0
S-Flt1            0
S-PLGF            0
sFLT/PLGF         0
class             0
dtype: int64

In [45]:
nulos = data[data.isnull().any(1)]
nulos

,age,weight,height,BMI,R-RI,R-PI,R-PSV,L-RI,L-PI,L-PSV,...,meanPI,meanPSV,bilateralNotch,age_delivery,parity,birth_weight,S-Flt1,S-PLGF,sFLT/PLGF,class
58,43,66.0,1.52,NaN,0.63,0.60,67.4,0.59,0.67,62.9,...,0.635,65.15,0,32.714286,1,1480,27390,153.60,178.320312,IUGR_PE
59,36,52.0,1.64,NaN,0.67,0.81,57.9,0.69,0.89,61.4,...,0.850,59.65,1,34.714286,1,1280,29805,79.73,373.824157,IUGR_PE
61,26,NaN,NaN,NaN,0.84,2.02,68.8,0.83,2.28,59.4,...,2.150,64.10,1,28.000000,1,MFIU,10015,42.64,234.873358,IUGR
93,30,53.0,1.57,21.501886,0.49,0.52,60.4,0.51,0.56,58.1,...,0.540,NaN,0,34.142857,1,1570,10535,34.97,301.258221,PE
94,26,74.0,1.65,27.180900,0.69,0.62,54.9,0.73,0.71,60.5,...,0.665,NaN,2,30.428571,1,1180,12154,15.84,767.297980,PE

In [46]:
mean_weight = data["weight"].mean()
data["weight"]= data["weight"].fillna(mean_weight)

In [47]:
mean_height = data["height"].mean()
data["height"]= data["height"].fillna(mean_height)

In [48]:
data["BMI"]= data["BMI"].fillna(data["weight"]/(data["height"]*data["height"]))

In [49]:
whb = pd.DataFrame([data.loc[58], data.loc[59],data.loc[61]])
whb[["weight", "height", "BMI"]]

       weight    height        BMI
58  66.000000  1.520000  28.566482
59  52.000000  1.640000  19.333730
61  67.531915  1.655638  24.636450

In [50]:
data["meanPSV"]= data["meanPSV"].fillna((data["R-PSV"]+data["L-PSV"])/2)

In [51]:
psv = pd.DataFrame([data.loc[93], data.loc[94]])
psv[["R-PSV", "L-PSV", "meanPSV"]]

    R-PSV  L-PSV  meanPSV
93   60.4   58.1    59.25
94   54.9   60.5    57.70

In [52]:
data.isnull().sum()

age               0
weight            0
height            0
BMI               0
R-RI              0
R-PI              0
R-PSV             0
L-RI              0
L-PI              0
L-PSV             0
meanRI            0
meanPI            0
meanPSV           0
bilateralNotch    0
age_delivery      0
parity            0
birth_weight      0
S-Flt1            0
S-PLGF            0
sFLT/PLGF         0
class             0
dtype: int64

## 2. Cambio tipo de variable

In [53]:
data["birth_weight"].unique()

array([3060, 2780, 2450, 2490, 1905, 2180, 1910, 2600, 3110, 1510, 3550,
       3310, 3600, 2860, 2650, 3575, 1890, 3090, 3700, 2890, 2430, 3890,
       3750, 3250, 3560, 1790, 3610, 1250, 3500, 430, 1470, 2050, 1700,
       1680, 1930, 500, 1760, 530, 1210, 985, 780, 1200, 980, 1140, 1950,
       965, 830, 810, 2460, 1800, 1970, 2810, 2120, 3175, 1050, 1345,
       1480, 1280, 1150, 'MFIU', 890, 2940, 1840, 720, 1135, 650, 2160,
       930, 3070, 220, 4040, 3800, 1690, 3170, 3040, 37, 1610, 2100, 1020,
       4000, 3030, 850, 3300, 2950, 2440, 427, 2930, 1570, 1180],
      dtype=object)

MFIU --> muerte intrauterina. Cambiaremos este valor por 0

In [54]:
data.loc[data.birth_weight=='MFIU','birth_weight']=0

In [55]:
data["birth_weight"]= pd.to_numeric(data["birth_weight"])

In [56]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95 entries, 0 to 94
Data columns (total 21 columns):
age               95 non-null int64
weight            95 non-null float64
height            95 non-null float64
BMI               95 non-null float64
R-RI              95 non-null float64
R-PI              95 non-null float64
R-PSV             95 non-null float64
L-RI              95 non-null float64
L-PI              95 non-null float64
L-PSV             95 non-null float64
meanRI            95 non-null float64
meanPI            95 non-null float64
meanPSV           95 non-null float64
bilateralNotch    95 non-null int64
age_delivery      95 non-null float64
parity            95 non-null int64
birth_weight      95 non-null int64
S-Flt1            95 non-null int64
S-PLGF            95 non-null float64
sFLT/PLGF         95 non-null float64
class             95 non-null object
dtypes: float64(15), int64(5), object(1)
memory usage: 15.7+ KB

## 3. NormalizaciÃ³n